<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KitchenNotesDAL.Properties.Settings.KitchNotesDBConnectionString"
            connectionString="Data Source=ANDY-PC;Initial Catalog=KitchNotesDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>