<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KitchenNotesDAL.Properties.Settings.KitchNotesDBConnectionString"
            connectionString="Data Source=WIN-5OK3L3RNJQ8;Initial Catalog=KitchNotesDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="KitchenNotesDAL.Properties.Settings.KitchenNotesDatabaseConnectionString"
            connectionString="Data Source=arfsdl2a9g.database.windows.net;Initial Catalog=KitchenNotesDatabase;User ID=andy;Password=Graham@2015"
            providerName="System.Data.SqlClient" />
        <add name="KitchenNotesDAL.Properties.Settings.KitchNotesDatabaseConnectionString"
            connectionString="Data Source=ANDY-PC;Initial Catalog=KitchNotesDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>