<div class="jumbotron">
    <h1>KitchenNotes Login</h1>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Say something">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button">SEND</button>
        </span>
    </div>
</div>

